body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2980b9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.quiz-container {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;  /* 横幅を調整 */
    width: 100%;
    gap: 20px;
}
#result {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.correct {
    color: green;
    animation: bounce 0.5s ease;  /* 正解時のアニメーション */
}

.incorrect {
    color: red;
    animation: shake 0.5s ease;  /* 不正解時のアニメーション */
}
#select {
    background-color: #278ccf;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
  }
#select:hover {
    transform: scale(1.1);
}

.quiz-image {
    width: 300px;  /* 横幅を100%にして親要素に合わせる */
    height: 300px; /* 高さを自動調整 */
    max-width: 350px; /* 最大幅を350pxに設定 */
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}

#choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    width: 80%;  /* 右側の選択肢を占めるエリアを広げる */
}

.choice {
    padding: 20px;
    font-size: 25px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.choice:hover {
    background: #2980b9;
}


#next-question {
    margin-top: 1px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: #2ecc71;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#next-question:hover {
    background: #27ae60;
}
